@media  screen and (min-width:768px) 
{
    /* .lef img{
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .rig{
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    
    } */
    
}